<h1><%= @company.company_name %></h1>
<p><%= @company.city %></p>
<p><%= @company.state %></p>
<p><%= @company.description %></p>
<p><%= @company.website %></p>
<p><%= @company.industry %></p>
<p>Last Update: <%= @company.updated_at %></p>
